[submodule "roles/ansible_role_nginx"]
	path = roles/ansible_role_nginx
	url = https://github.com/NoFriendsss/ansible_role_nginx.git
[submodule "roles/ansible_role_webapp"]
	path = roles/ansible_role_webapp
	url = https://github.com/NoFriendsss/ansible_role_webapp.git
